python-dotenv
aiohttp
openai
ijson
nest_asyncio
tenacity
azure-cosmos
python-decouple
streamlit
streamlit-chat
PyPDF2
langchain-community
tiktoken
langchain-openai
neo4j
langchain-experimental
pyvis
pypdf
networkx
wikipedia